<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/output.css">
</head>
<body>
<nav class="navbar">
      <div class="navbar_menu">
        <img class="logo-navbar" src="{{ url_for('static', filename='images/logo-alleria.png') }}" alt="logo-navbar" />
        <a href="{{ url_for('trabajador') }}">
          <img class="img-navbar" src="{{ url_for('static', filename='images/foto-mesa.jpg') }}" alt="Mesas" />
        </a>
        <a href="{{ url_for('login') }}">
          <img class="img-navbar" src="{{ url_for('static', filename='images/icono-usuario.jpg') }}" alt="Estadísticas" />
        </a>
        <a href="{{ url_for('clientes_espera') }}">
          <img class="img-navbar" src="{{ url_for('static', filename='images/icono-lista-2.jpg') }}" alt="Actividades" />
        </a>
      </div>
    </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  {% block scripts %}{% endblock %}
</body>
</html>