<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Trabajador</title>
  <link href="/static/styles/output.css" rel="stylesheet">
</head>
<body>
<form method="POST" class="formulario">
  <div class="login-formulario">
    <div class="formulario-inputs">
      <input type="text" class="login-input" name="nombre" placeholder="Nombre" required><br>
      <input type="text" class="login-input" name="username" placeholder="Usuario" required><br>
      <input type="password" class="login-input" name="password" placeholder="Contraseña" required><br>
    </div>
    <button type="submit" class="login-button">Registrarse</button>
  </div>
</form>
</body>
</html>
