<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Trabajador</title>
  <link href="/static/styles/output.css" rel="stylesheet">
</head>
<body>
  <div class="fondo-login">
    <div class="blur-fondo-login">
      <form method="POST" class="formulario">
        <div class="login-formulario">
          <div class="formulario-inputs">
            <input type="email" class="login-input" name="email" placeholder="Correo electrónico" required
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                   title="Por favor ingresa un correo válido (ejemplo@dominio.com)"><br>
            <input type="text" class="login-input" name="username" placeholder="Nombre de usuario" required><br>
            <input type="password" class="login-input" name="password" placeholder="Contraseña" required><br>
            <input type="password" class="login-input" name="confirm_password" placeholder="Confirmar Contraseña" required><br>
          </div>
          
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="text-red-500 text-center mt-2">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          
          <button type="submit" class="login-button">Registrarse</button>
          
          <p class="text-center mt-4 text-sm">
            ¿Ya tienes una cuenta? 
            <a href="{{ url_for('login') }}" class="text-card_text hover:underline">Inicia sesión aquí</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
