@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@theme {
  --color-primary:#f3d2c1;
  --color-card_background:#fef6e4;
  --color-card_headline:#001858;
  --color-card_text:#ee4b2b;
  --color-card_text_secondary:rgb(35,44,54);

}
body {
  @apply bg-card_text_secondary  bg-[url('/static/images/black-orchid.png')] text-card_text flex flex-col items-center justify-center min-h-screen;
}



.login-button{
  @apply border-card_text_secondary  hover:bg-card_text hover:text-card_background transition-colors duration-300 border-2 rounded-xl cursor-pointer h-[50px];
}

.login-input{
  @apply  border-card_headline border-2 p-2 rounded-xl w-full my-2 text-gray-900 placeholder:text-card_text focus:outline-none focus:ring-2 focus:ring-card_text focus:border-transparent;
  
}
.formulario-inputs {
    @apply w-full flex flex-col p-2;
  }
.formulario {
  @apply  mt-5 rounded-2xl bg-card_background bg-[url('/static/images/black-thread-light.png')];
}
.login-formulario {
    @apply h-100 w-80 p-2 shadow-md flex flex-col justify-around  ;
}
.header{
  @apply  flex flex-col justify-end w-full h-[30vh] mb-5 relative -top-15 ;
}
.header-class {
  @apply  bg-[url('/static/images/logo-alleria.png')] bg-[50vw] bg-[70vh] bg-contain bg-no-repeat  text-card_text w-full h-[30vh]  ;
}

.grilla-mesas{
  @apply  grid grid-cols-4 gap-3;
}

@layer utilities {

  
  .formulario-inputs {
    @apply w-full flex flex-col mx-2;
  }
  
}
